:root {
    font-size: 29px;
    font-family: 'Roboto', 'Arial', 'sans-serif';
    font-style: normal;
    font-weight: 500;
    color: #FFFFFF;
}
body{
    display: flex;
    justify-content: center;
    margin: 0;
    min-width: 800px;
}

section {
    display: flex;
    flex-direction: column;
    flex-basis: 800px;
    /* min-height: 100vh; */
    height: 1795px;
    margin: 0;
    line-height: 34px;
    background: rgba(42, 46, 65, 0.7);
    justify-content: flex-start;
}

.month{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* width: 599px; */
    height: 212px;
    align-items: center;
    line-height: 42px;
    font-size: 36px;
    text-align: center;


    /* position: relative;
    left: 99px;
    top: 87px; */
}
button {
    padding: 0;
    /* margin: 87px 121px 89px 99px;  */
    border: none;
    background-color: transparent;
    color: inherit;
    width: 36px;
}
 .month button:hover{
    opacity: 0.12;
 }
img{
    width: 18px;
    height: 36px;
}
span{
    flex-basis: 320px;
    margin: 0 122px 0 121px;
}

.line {
    height: 2px;
    width: 599px;
    margin: 0 auto;
    background: #000000;
    opacity: 0.17;
    position: relative;
    margin-bottom: 22px;
}
.line_shadow {
    height: 2px;
    width: 20.6rem;
    position: relative;
    top: 2px;
    background: #FFFFFF;
    opacity: 0.13;

}

.days{
    flex-basis: 120px;
    display: flex;
    flex-direction: row;
    font-size: 26px;
    line-height: 31px;
    color: #FFFFFF;
    opacity: 0.6;
    align-items: center;
    justify-content: center;
}

.days ul{
    display: flex;
    list-style-type: none;
    flex-basis: 602px;
    justify-content: space-around;
    padding: 0;

}

.days ul li{
    padding: 0;
    margin: 0;
    width: 80px;
    text-align: center;
}

li{
    list-style-type: none;
} 

.date{
    display: flex;
    justify-content: center;
    height: 726px;
}

.date ul{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-basis: 602px;
    flex-shrink: 0;
    margin: 0;
    padding: 0;
    align-items: center;
    position: relative;

}

.date li{
    list-style-type: none;
    width: 80px;
    text-align: center;
    height: 40px;
    padding: 20px 0;
    line-height: 1.5;
    border-radius: 50%;
}

.date li:nth-child(n+32){
    color: #FFFFFF;
    opacity: 0.5;
}

.date li:hover {
    background: #3C82F9;
    transition: 0.5s ease-in-out 0s;
}
.categories{
    display: flex;
    justify-content: center;
    flex-basis: 372px;
}

.categories div{
    display: flex;
    flex-basis: 599px;
    justify-content: space-between;
    flex-wrap: wrap;
}
.categories p{
    font-size: 26px;
    line-height: 30px;
    width: 183px;
    height: 31px;
    margin-right: 415px;
    margin-bottom: 42px;
    margin-top: 107px;
}
.categories button{
    width: 285px;
    height: 80px;
    border-radius: 12px;
}

p+button{
    background: #8576ED;
}
button+button {
    background: #F39946;
}
.categories button:last-child{
    margin-top: 30px;
    background: #FF467E;
}

.categories button:hover{
    box-shadow: 0px 0px 10px white;
    transition: all 1s ease-out;
}

